<h1 class="title">Drew's Awesome API Calling, JSON Receiving, CSV Converting App</h1>

<div class="row">
  <div class="col-md-1"></div>

    <div class="col-md-10">

          <div class="panel-body">
        <%= bootstrap_form_tag url: '/results' do |f| %>
              <%= f.url_field :url, label: "URL (use 'placeholder' as the variable)" %>
              <%= f.text_area :placeholder, placeholder: "example: 1431482023792690" %>


              <%= f.submit "Continue", class: "btn btn-success" %>
          <% end %>

    </div>  
  <div class="col-md-1"></div>
</div>